/* ==========================
   Credit Card
========================== */

.credit-card{
    height:220px;
    border-radius:22px;
    padding:25px;
    background:linear-gradient(135deg,#1b1b1b,#111);
    border:1px solid rgba(212,175,55,.25);
    transition:.35s;
    position:relative;
    overflow:hidden;
}

.credit-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(212,175,55,.15);
}

.chip{
    width:60px;
    height:42px;
    border-radius:10px;
    background:linear-gradient(135deg,#FFD700,#D4AF37);
    margin-bottom:45px;
}

.credit-card p{
    font-size:22px;
    letter-spacing:4px;
    font-weight:600;
}

.credit-card span{
    display:block;
    margin-top:18px;
    color:#D4AF37;
    font-size:16px;
}

/* Delete Button */

.delete-btn{
    position:absolute;
    top:15px;
    right:15px;
    width:34px;
    height:34px;
    border:none;
    border-radius:50%;
    background:#ff4d4d;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.delete-btn:hover{
    background:#ff1f1f;
    transform:scale(1.1);
}
